@mixin gradient-font($background , $gradient) {
    background: $background;
    background: $gradient;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

@mixin gradient-line($background , $gradient) {
    background: $background;
    background: $gradient;
}


@mixin flexbody($item: center) {
    display: flex;
    justify-content: center;
    align-items: $item;
}

@mixin flexSpace($content) {
    display: flex;
    justify-content: $content;
}

@mixin flexcolumn($direction: row, $gapping :2px) {
    display: flex;
    justify-content: space-between;
    flex-direction: $direction ;
    gap: $gapping;
}


@mixin container1 {
    // max-width: 1200px;
    width: 800px;
    min-width: 300px;
}

@mixin container {
    width: 100%;
    overflow-x: hidden;
    height: 100vh;
}

@mixin containerNoHeight {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;

    @include mobile {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@mixin container2 {
    width: 80%;

    @include mobile {
        width: 100%;
    }
}

///////Responsiveness mixins//////

@mixin mobile {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: 1024px) {
        @content;
    }
}

@mixin desktop {
    @media (max-width: 1399px) {
        @content;
    }
}


///////keyframes./////\
@mixin keyframes($name) {
    @keyframes #{$name} {
        @content;
    }
}

@mixin animate($animation, $duration, $method, $times) {
    animation: $animation $duration $method $times;
}


@mixin before($margin ,$top ,$left ) {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    margin: $margin;
    top: $top;
    left: $left;

}

@mixin animation($width , $height , $margin ,$top ,$left ,$duration) {
    width: $width;
    height: $height;
    position: absolute;
    border-radius: 50%;
    border: 1px solid white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    @include keyframes(rotation) {
           0% {
                  transform: translate(-50%, -50%) rotate(-360deg)
           }
    }
    @include animate(rotation, $duration, linear, infinite);
    &::before {
         @include before($margin ,$top ,$left)
    }
}
